.background {
  background-image: url(https://images.unsplash.com/photo-1542649350-a24209ce01b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
}

.contact {
  color: rgb(212, 235, 255);
}

.jumbotron {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1;
  background-color: transparent;
}

h1 {
  padding: 40px;
}

.icons {
  display: flex;
  justify-content: space-around;
}

i {
  font-size: 75px;
}

i:hover {
  color: #ffb50b;
}
